[submodule "libraries/coreHTTP"]
	path = libraries/coreHTTP
	url = https://github.com/FreeRTOS/coreHTTP.git
[submodule "libraries/coreJSON"]
	path = libraries/coreJSON
	url = https://github.com/FreeRTOS/coreJSON.git
[submodule "libraries/coreMQTT"]
	path = libraries/coreMQTT
	url = https://github.com/0x1abin/coreMQTT.git
[submodule "libraries/mbedtls"]
	path = libraries/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
